<%
#binding.pry
if !defined? @college
  action = '/college/new'
  put = ''
  value = ''
else
  action = "/college/#{@college.id}"
  put = '<input type="hidden" name="_method" value="put">'
  value = @college.name
end
%>
<form action="<%= action %>" method="post">
 <%= put %> 
  Name: <input type="text" name="name" value="<%= value %>">
  <input type="submit" name="submit" value="Submit">
</form>
<br/>